:root {
  --gray: #f1f1f1;
  --gradient-gold: linear-gradient(312.66deg, #efd48a 43.37%, #bf9740 70.06%),
    #d6b05e;
  --gradiente-silver: linear-gradient(231.91deg, #9e9e9e 27.13%, #e4e4e4 80.75%),
    #c4c4c4;
}
html {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
header.header {
  background-color: black;
}
.header-top {
  display: none;
}
.nav-links {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links li {
  list-style: none;
  margin-block: 21px;
  margin-inline: 32px;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header p {
  color: white;
  font-size: 23px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.before {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 15px;
}
.after {
  display: flex;
  align-items: center;
}
figure {
  margin: 0;
}
.hero {
  width: 100%;
  height: 493px;
  background-image: url(./img/img-hero.png);
}
main {
  background-color: var(--gray);
}
.category {
  margin-block-end: 64px;
}
.category h2 {
  margin: 0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-block: 64px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24.67px;
  margin: 0 50px;
  justify-items: center;
}
.card img {
  width: 100%;
  height: 373px;
}
.card {
  display: grid;
  justify-items: center;
}
.card button {
  background-color: black;
  color: white;
  padding-block: 12px;
  padding-inline: 24px;
  border: 0;
  margin-block-start: 24px;
}
.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 191.5px;
  margin-block: 77px;
}
.details h2,
p {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}
.details p {
  margin-block-start: 16px;
  margin-block-end: 24px;
}
.description p {
  font-size: 13px;
  margin-block: 24px;
}
.colour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-block-end: 24px;
  column-gap: 16px;
}
.colour p {
  margin: 0;
  grid-column: 1/3;
  opacity: 0.5;
}
.colour span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid white;
}
.colour span.golden {
  display: flex;
  justify-self: flex-end;
  background: linear-gradient(312.66deg, #efd48a 43.37%, #bf9740 70.06%),
    #d6b05e;
}
.colour span.silver {
  background: linear-gradient(231.91deg, #9e9e9e 27.13%, #e4e4e4 80.75%),
    #c4c4c4;
}

.size {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 12px;
  row-gap: 4px;
}
.size p {
  margin: 0;
  grid-column: 1/3;
  opacity: 0.5;
}
.size button {
  margin: 0;
  padding: 0;
  /* border:0; */
}

.details .button-add {
  border: 0;
  color: white;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
  padding-inline: 24px;
  padding-block: 12px;
  margin-block-start: 24px;
  margin-block-end: 24px;
}
.details a {
  color: #1c1b1b;
  line-height: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.img-product {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accessories {
  overflow: hidden;
}
.accessories h2 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-block: 64px;
}
.shop-cards {
  margin-inline: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 60.67px;
  row-gap: 64px;
  margin-block-end: 64px;
}
.product img {
  width: 271px;
  height: 271px;
}
.product h3,
span {
  margin: 0;
  display: flex;
  justify-content: center;
  color: #1c1b1b;
  line-height: 24px;
}
.product h3 {
  margin-block-start: 16px;
  margin-block-end: 8px;
}
.product span {
  opacity: 0.5;
  text-align: center;
}
.colours {
  display: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.colours span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-block-start: 16px;
  border: 3px solid white;
}
.colours span.golden {
  display: flex;
  justify-self: flex-end;
  background: linear-gradient(312.66deg, #efd48a 43.37%, #bf9740 70.06%),
    #d6b05e;
}
.colours span.silver {
  background: linear-gradient(231.91deg, #9e9e9e 27.13%, #e4e4e4 80.75%),
    #c4c4c4;
}
.accessories {
  position: relative;
}
.accessories button {
  color: white;
  background-color: #1c1b1b;
  border: 0;
  padding: 12px 24px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 189px / 2 + 0.5px);
}
section.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 128px;
}
.posts h2 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-block: 64px;
}
.card-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 91.5px;
  margin-inline: 50px;
}
.post {
  position: relative;
}
.post h3 {
  color: white;
  margin: 0;
  margin-block-end: 16px;
  line-height: 16px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  transform: translateX(16px);
}
.button-post {
  background-color: #1c1b1b;
  color: white;
  border: 0;
  padding: 12px 24px;
  
}
.btn-post {
  display: flex;
  justify-content: center;
  margin-block-start: 64px;
}
.footer {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 168px;
  margin-block: 100px;
  margin-inline: 50px;
}
.footer h2 {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: #1C1B1B;
  font-weight: normal;
}
.info-social-media p {
  font-size: 13px;
  opacity: 0.5;
  line-height:24px;
  text-align: start;
  margin-block: 24px;
}
ul.social-media {
  padding: 0;
  margin: 0;
  opacity: 0.5;
  display: flex;
}
.social-media li {
  list-style: none;
}
ul.nav-items li {
  list-style: none;
}
ul.nav-items {
  padding: 0;
  line-height: 32px;
  opacity: 0.5;
}
.nav-items a{
  color: #1C1B1B;
}
a.nav-item {
  text-decoration: none;
}
.newsletter p {
  font-size: 13px;
  text-align: start;
  line-height: 16px;
  color: #1C1B1B;
  opacity: 0.5;
  margin-block-start: 24px;
  margin-block-end:22px;
}
input {
  padding: 12px 24px;
  color: #1C1B1B;
  opacity: 0.5;
  border: 1px solid rgba(28, 27, 27, 0.5);
  margin-block-end: 22px;
}
.newsletter button {
  padding: 12px 24px;
  border: 0;
  background-color: #1C1B1B;
  color: white;

}
